<!DOCTYPE html>
<html>
<head>
  <title>How's the Weather</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo right">
        <img src="https://res.cloudinary.com/briezh/image/upload/v1545283087/cloud_wind-512_hceabd.png">
      </a>
      <ul class="left">
        <li><a href="/">Home</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <h1 class="header center">How's the Weather Out There?</h1>
    <div class="row">
      <div class="col-12 center">
        <%- body %>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
