nav {
  background-color: #888;
}

nav img {
  max-width: auto;
  max-height: 55px;
}

h1 {
  font-size: 24px;
  color: dodgerblue;
}

h2 {
  font-size: 20px;
}

.day {
  border: 2px solid black;
  margin: 5px;
  border-radius: 5px;
  background-color: #ddd;
}

.blue {
  background-color: dodgerblue;
  width: 100%;
}

.red {
  background-color: red;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.icon {
  min-height: 50px !important;
  padding-top: 5px !important;
  font-size: 28px;
  background-color: lightblue;
}

.summary {
  padding-top: 5px !important;
  min-height: 70px !important;
  font-size: 9px;
}
